.content{
    float: left;
    width: 100px;
    margin-top: 10px;
}

.things{
    float: right;
    width: 480px;

    margin-left: 20px;
    margin-top: 10px;
}

.body1{
    width: 600px;
}

.content > a{
    color: #03756d;
}

.content > a:visited{
    color: #03756d;
}

.quote{
    font-size: 14px;
    text-indent: 12px;
}

.publication{
    font-size: 16px;
    font-style: italic;
    color: #015AA4;
}

.publication:visited{
    color: #015AA4;
}

.author{
    text-align: right;
    font-size: 14px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: blue;
}

.photo-div{
    color: #024a84;
}