#content{
    float: left;
    width: 100px
}

#things{
    float: right;
    width: 500px
}

.body1{
    width: 600px
}

.quote{
    font-size: 12px;
    text-indent: 12px;
}

.author{
    text-align: right;
    font-size: 12px;
}
